@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.807);
}

body {
  overflow-x: hidden;
 background:black;
  animation: bg 15s linear 0 infinite forwards ease-in-out;
}

@keyframes bg {
  0%, 100% {
   background: black;
  }
  25% {
   background: red;
  }
  50% {
   background: green;
  }
  75% {
   background: blue;
  }
}

body {
  -webkit-animation: bg 15s linear 0 infinite forwards ease-in-out;
  animation: bg 15s linear 0 infinite forwards ease-in-out;
}

.navbar {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.navbar span {
  font-size: 35px;
  color: whitesmoke;
}

.navbar span:nth-child(1) {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .navbar span:nth-child(1) {
    font-size: 45px;
  }
  .navbar span {
    font-size: 40px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.openMenu {
  float: right;
  cursor: pointer;
  padding: 5px;
}

.overlayMenu {
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.99);
  position: absolute;
  top: 0;
  right: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.overlayMenu span {
  display: flex;
  font-family: ubuntu;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .overlayMenu span {
    font-size: 40px;
  }
}

.intro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10%;
  text-align: center;
}

.intro img {
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid rgba(255, 255, 255, 0.881);
}

.intro p {
  font-family: ubuntu;
  font-size: 20px;
  margin: 10% 5%;
  color: rgba(207, 232, 255, 0.9);
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .intro img {
    width: 60%;
  }

  .intro p {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro {
    flex-direction: row;
  }
  .intro img {
    width: 30%;
  }
}

.hobbies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.img_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: white;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  z-index: 0;
}

.img_container span {
  font-family: "Work Sans";
  font-size: 20px;
  padding-top: 15px;
}

.img_container img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 5px;
}

.img_container img:hover {
  transform: scale(1.01);
}

@media only screen and (min-width: 1024px) {
  .hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 50px 0;
  }

  .img_container {
    width: 60%;
    height: 100%;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 800px;
  box-sizing: border-box;
}

.sop hr {
  width: 80%;
  margin: 50px;
}

.sop p {
  width: 70%;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  color: rgba(240, 248, 255, 0.795);
}

@media only screen and (min-width: 768px) {
  .sop p {
    font-size: 30px;
  }
}

.sop h2 {
  font-family: rajdhani;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  color: rgb(63, 172, 255);
}
